.transparent-text{
    position: absolute;
    right: -10px;
    bottom: 600px;
}

.transparent-text__heading{
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 200px;
    font-weight: 900;
    line-height: 0.8;
    text-transform: uppercase;
    background: linear-gradient(to right top, rgb(255, 168, 168), rgb(255, 255, 170), rgb(146, 146, 255));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;

    background-size: 300%;
    background-position: -100%;
}

@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

