.proyect__card{
    display: flex;
    flex-grow: 1;
    height: auto;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bg-proyect__card{
    height: 90%;
    width: 90%;
}

.front-proyect__card{
    position: absolute;
    color: aqua;
}
