.proyect{
    display: flex;
    flex-direction: row;
}

.text{
    display: inline-block;
    width: 60%;
    height: 70%;
    z-index: 1000;
}

.image{
    position: absolute;
    width: 500px;
    right:50px;
    transform: perspective(500px) rotateY(-10deg);
}